// hacks
// mai multe layouturi

// .home-catalog-preview:first-child {
//   .product-tiles {
//     display: flex;
//     font-display: column;
//     gap: 70px;

//     @include media-breakpoint-up(lg) {
//       display: block;
//     }
//   }
// }

.home-catalog-preview {
  .product-tiles {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  // V1 layout
  &:first-child {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        display: block;

        & > li {
          width: 27.386541%;
          float: left;
          margin-left: 8.8419405%;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  // v2

  &:nth-child(2) {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > li {
          width: 27.386541%;
        }
      }
    }
  }

  // v3

  &:nth-child(3) {
    .product-tiles {
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        gap: 8.8419405%;
      }
    }
  }
}
