.nav-secondary {
  text-align: center;

  ul {
    display: inline-flex;
    gap: 8px;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 14px;
    font-weight: 300;

    a {
      padding: 8px 12px;
      transition: color 0.2s linear;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
